#error {
    color: red;
}


.hidden {
    visibility: hidden;
}

textarea {
    font-family: monospace;
    margin-top: 1em;
}

textarea[name=hip_ra_input_parameters] {
    width: 90%;
}

.null-value-row {
    /*color: #d3d3d3;*/
    display: none;
}

#domain-breadcrumb {
    font-size: 15px;
    opacity: 0.5;
}

a:not([href]) {
    all: unset;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader::after {
    content: '\21BB';
    display: inline-block;
    animation: rotating 2s linear infinite
}
